<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css" />

    <style>
        body {
            padding-top: 50px;
            display: flex; 
            flex-direction: column; 
            align-items: center; 
            margin: 0; 
            height: 100vh; 
            justify-content: flex-start; 
        }
        h2 {
            margin-bottom: 20px; 
        }
        .main__container {
            text-align: center; 
        }
        button {
            width: 350px; 
            padding: 10px;
            margin: 0; 
            margin-bottom: 10px; 
        }
    </style>

</head>
<body>
    <div class="main__container">
        <h2>Home</h2>

        <a href="/register">
            <button>Click here to register for the exam</button>
        </a>
        
        <a href="/login">
            <button>Click here to login</button>
        </a>
    </div>
</body>
</html>
